.row > * {
  border: 1px solid #333;
}

.container {
  background: #222;
  color: gray;
}

.container-fluid {
  background: #222;
  color: white;
}

.row {
  background-color: #444;
  color: white;
}
